$primary-background: radial-gradient(
  circle,
  rgba(63, 94, 251, 1) 0%,
  rgba(252, 70, 107, 1) 100%
);
$primary-text-color: #16a085;
$dashboard-background-color: #16a085;
$room-card-color: #c6c29b;
$box-shadow-color: #888888;
$border-radius: 5px;
$full-width: 100%;
