$primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
$primary-text-color: #A2DED0;
$dashboard-background-color: #D4D0AB;
$room-card-color: #c6c29b;
$box-shadow-color: #888888;