/* This is an example of using Sass, otherwise plain CSS works too*/
@import "_variables";
@import "_mixins";
@import url(https://fonts.googleapis.com/css?family=Pathway+Gothic+One);

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

svg {
  position: fixed;
  z-index: -1;
}

body {
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #ffffff 0%,
    #f2efd9 100%
  );
  position: relative;
  h1 {
    color: $primary-text-color;
  }
}

nav {
  display: flex;
  justify-content: space-around;
  form {
    margin-top: 20px;
  }
}

main {
  width: $full-width;
}

.body__welcome {
  font-size: 44px;
  color: $primary-text-color;
  margin-top: 22px;
}

.hidden {
  display: none;
}

// LOGIN SCREEN
input[type="text"],
input[type="password"] {
  width: $full-width;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.open-modal-button,
.login-button {
  background-color: $primary-text-color;
  border-radius: $border-radius;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: $full-width;
}

.login-button:hover {
  opacity: 0.9;
}

.open-modal-button {
  position: absolute;
  top: 0;
  left: 0;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: $full-width;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
  }
}

//Dashboards
.body__manager__dash {
  background-color: #d4d0ab;
  margin: auto;
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  article {
    flex-grow: 1;
    height: 270px;
    width: 300px;
    border: solid;
  }
}

#search-guest {
  margin-left: 5%;
  width: 150px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

#search-guest:focus {
  //update in media query
  width: 30%;
}

//user search results view
.body__manager__user__view {
  display: flex;
}

.body__manager__user__wrapper,
.main__guest__wrapper {
  @include column-flex;
  margin: 0 2.5% 0 5%;
  width: 50%;
  .body__manager__user__wrapper__article,
  .main__guest__wrapper__article {
    background-color: $dashboard-background-color;
    width: $full-width;
  }
}

.main__guest__wrapper__article {
  color: #e0ffff;
  display: flex;
  justify-content: center;
}

#manager-guest-name,
.main__guest__wrapper__article {
  background-color: $room-card-color;
  height: 50px;
  margin: 10px 0;
  border-radius: $border-radius;
  @include center-items;
}

#manager-guest-spent {
  height: 100px;
}

.body__manager__user__section,
.body__guest__user__section,
.main__guest__wrapper {
  background-color: $dashboard-background-color;
  border-radius: $border-radius;
  width: 50%;
  margin: 10px 5% 0 2.5%;
  height: auto;
  .body__manager__user__booking,
  .body__guest__user__booking {
    background-color: $room-card-color;
    margin: 20px 2.5%;
    min-height: 100px;
    box-shadow: 5px 10px $box-shadow-color;
    border-radius: $border-radius;
    position: relative;
    flex-direction: column;
    @include center-items;
  }
}

.body__guest__user__section,
.main__guest__wrapper {
  width: $full-width;
}

.main__guest__wrapper,
.body__guest__user__booking {
  color: #006060;
  font-size: 24px;
}

#guest-bookings {
  @include column-flex;
  align-items: center;
  max-height: 775px;
  overflow: auto;
}

.body__guest__user__booking {
  background-color: $room-card-color;
  height: 100%;
  height: 120px;
  width: 98%;
  margin-bottom: 10px;
  box-shadow: 5px 10px $box-shadow-color;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}

label {
  color: $primary-text-color;
}

.delete {
  background-image: url("https://i.imgur.com/VkyustM.png");
  @include position-buttons;
}

.book-room {
  background-image: url("https://i.imgur.com/UNQ7KOg.png");
  @include position-buttons;
}

.book-room:hover {
  background-image: url("https://i.imgur.com/jua0har.png");
}

.delete:hover {
  background-image: url("https://i.imgur.com/vDnQW0k.png");
}

.delete:active,
.book-room:active {
  transform: translateY(2px);
}

//filter buttons
.filter-buttons {
  @include position-images;
  background-color: black;
  opacity: 0.95;
  border-radius: $border-radius;
  padding: 100px;
  margin: 0 0 20px 0;
  border: none;
  cursor: pointer;
  width: $full-width;
}

.main__guest__filter__button {
  position: relative;
}

.filter-text {
  position: absolute;
  top: 50%;
  left: 2%;
  color: #96281b;
  font-size: 40px;
  font-weight: bolder;
  text-shadow: 1px 1px #fffafa;
}

#suite {
  background-image: url("../../assets/suite.jpg");
}

#sing-room {
  background-image: url("../../assets/single-room.jpg");
}

#res-suite {
  background-image: url("../../assets/res-suite.jpg");
}

#jun-suite {
  background-image: url("../../assets/junior-suite.jpg");
}

#filter-section {
  background-color: transparent;
}

.wrapper {
  display: flex;
  width: $full-width;
}

#bookings-view {
  width: $full-width;
  margin: 0 2.5%;
}

//animations
.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@-webkit-keyframes rotate-right {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate-left {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}

@-webkit-keyframes hover {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(5%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

@-webkit-keyframes pull {
  0% {
    -webkit-transform: scaleY(1);
  }
  40% {
    -webkit-transform: scaleY(1.01);
  }
  60% {
    -webkit-transform: scaleY(0.99);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(0.99);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}

@function getSpeed($speed, $type: turtle) {
  $secs: 360;
  $divider: 1;
  @if ($type == turtle) {
    $divider: 1;
  } @else if($type == rabbit) {
    $divider: 10;
  } @else {
    $divider: 60;
  }
  @if $speed == fastest {
    $secs: 60 / $divider;
  } @else if $speed == really-fast {
    $secs: 120 / $divider;
  } @else if $speed == fast {
    $secs: 180 / $divider;
  } @else if $speed == slow {
    $secs: 240 / $divider;
  } @else if $speed == really-slow {
    $secs: 300 / $divider;
  } @else if $speed == slowest {
    $secs: 360 / $divider;
  }
  @return #{$secs}s;
}

#airplane2,
#airplane1 {
  @include rotate(turtle, right, fastest);
}

#countryObjects {
  @include rotate(turtle, right, slow);
}

#floatingGlobe {
  @include rotate(turtle, left, normal);
}

#globe {
  $duration: 0;
  $delay: 0;
  @include _hover-animation($duration, $delay);
}

#windmill {
  @include rotate(flash, right, really-fast, 331px, 201px);
}

// Clouds
@for $i from 1 through 3 {
  #cloud#{$i} {
    @include _hover-animation(3, $i);
  }
}

// Inner Circles
@for $i from 1 through 5 {
  $direction: left;
  $speed: really-fast;
  #circle#{$i} {
    @if $i % 2 == 1 {
      $direction: right;
      $speed: really-fast;
    } @else {
      $direction: left;
      $speed: slow;
    }
    @include rotate(rabbit, $direction, $speed);
  }
}

//media queries
@media (max-width: 950px) {
  .body__manager__user__view {
    @include column-flex;
    align-items: center;
    margin-left: 5%;
    width: $full-width;
  }

  .wrapper {
    @include column-flex;
  }
  .body__guest__user__booking {
    margin-bottom: 10px;
  }

  .body__manager__user__section,
  .body__manager__user__wrapper {
    display: block;
    margin-left: 0;
    margin-right: auto;
    width: 85%;
  }
}
