/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
$primary-text-color: #A2DED0;
$dashboard-background-color: #D4D0AB;

html, body {
  height: 100%;
  width: cover;
}

body {
  background-image: url('../../assets/hotel-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  h1 {
    color: $primary-text-color;

  }
}

.hidden {
  display: none;
}
// LOGIN SCREEN
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
// .imgcontainer {
//  text-align: center;
//   margin: 24px 0 12px 0;
//   position: relative;
// }

// img.avatar {
//   width: 40%;
//   border-radius: 50%;
//  }

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

// /* The Close Button (x) */
// .close {
//   position: absolute;
//   right: 25px;
//   top: 0;
//   color: #000;
//   font-size: 35px;
//   font-weight: bold;
// }

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
}

//Dashboards
.body__manager__dash {
  background-color: #D4D0AB;
  margin: auto;
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  article {
    flex-grow: 1;
    height: 450px;
    width: 300px;
    border: solid;
  }
}

#search-guest {
  margin-left: 5%;
  width: 150px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
#search-guest:focus {
  //update in media query
  width: 30%;
}

//user search results view
.body__manager__user__view {
  display: flex;
}

.body__manager__user__wrapper, .main__guest__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 2.5% 0 5%;
  width: 50%;
  .body__manager__user__wrapper__article, .main__guest__wrapper__article {
    background-color: $dashboard-background-color;
    width: 100%;
  }
}

#manager-guest-name, #guest-name {
  height: 50px;
  margin: 10px 0;
}

#manager-guest-spent {
  height: 100px;
}

.body__manager__user__section, .body__guest__user__section, .main__guest__wrapper {
  background-color: $dashboard-background-color;
  border-radius: 5px;
  width: 50%;
  margin: 10px 5% 0 2.5%;
  height: auto;
  .body__manager__user__booking {
    background-color: #c6c29b;
    margin: 20px 2.5%;
    height: 100px;
    box-shadow: 5px 10px #888888;
  }
}

.body__guest__user__section, .main__guest__wrapper {
  width: 100%;
}

.main__guest__wrapper, .body__guest__user__booking {
  color: #3455DB;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

#guest-bookings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body__guest__user__booking {
  background-color: #c6c29b;
  height: 120px;
  width: 98%;

  box-shadow: 5px 10px #888888;
}

label {
  color: $primary-text-color;
}

.filter-buttons {
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  color: #96281B;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: bolder;
  text-shadow: 1px 1px #FFFAFA;
  border-radius: 5px;
  padding: 100px;
  margin: 0 0 20px 0;
}

#suite {
  background-image: url("../../assets/suite.jpg");
}

#sing-room {
  background-image: url("../../assets/single-room.jpg");
}

#res-suite {
  background-image: url("../../assets/res-suite.jpg");
}

#jun-suite {
  background-image: url("../../assets/junior-suite.jpg");
}

#filter-section {
  background-color: transparent;
}

main {
  width: 100%;
}
.wrapper {
  display: flex;
  width: 100%;
}

#bookings-view {
  width: 100%;
  margin: 0 2.5%;
}

.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
