/* This is an example of using Sass, otherwise plain CSS works too*/
@import "_variables";
@import "_mixins";

html, body {
  height: 100%;
  width: cover;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url('../../assets/hotel-background.jpg');
  @include position-images;
  background-attachment: fixed;
  h1 {
    color: $primary-text-color;
  }
}

nav {
  display: flex;
  justify-content: space-around;
}

form {
  margin-top: 20px;
}

.hidden {
  display: none;
}

// LOGIN SCREEN
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.open-modal-button, .login-button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.open-modal-button:hover, .login-button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}


//Dashboards
.body__manager__dash {
  background-color: #D4D0AB;
  margin: auto;
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  article {
    flex-grow: 1;
    height: 225px;
    width: 300px;
    border: solid;
  }
}

#search-guest {
  margin-left: 5%;
  width: 150px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
#search-guest:focus {
  //update in media query
  width: 30%;
}

//user search results view
.body__manager__user__view {
  display: flex;
}

.body__manager__user__wrapper, .main__guest__wrapper {
  @include column-flex;
  margin: 0 2.5% 0 5%;
  width: 50%;
  .body__manager__user__wrapper__article, .main__guest__wrapper__article {
    background-color: $dashboard-background-color;
    width: 100%;
  }
}

#manager-guest-name, .main__guest__wrapper__article {
  height: 50px;
  margin: 10px 0;
}

#manager-guest-spent {
  height: 100px;
}

.body__manager__user__section, .body__guest__user__section, .main__guest__wrapper {
  background-color: $dashboard-background-color;
  border-radius: 5px;
  width: 50%;
  margin: 10px 5% 0 2.5%;
  height: auto;
  .body__manager__user__booking, .body__guest__user__booking {
    background-color: $room-card-color;
    margin: 20px 2.5%;
    min-height: 100px;
    box-shadow: 5px 10px $box-shadow-color;
  }
}

.body__guest__user__section, .main__guest__wrapper {
  width: 100%;
}

.main__guest__wrapper, .body__guest__user__booking {
  color: #3455DB;
  font-size: 24px;
}

.body__guest__user__booking {
  height: 100%;
}

#guest-bookings {
  @include column-flex;
  align-items: center;
  height: 1015px;
  overflow: auto;
}

.body__guest__user__booking {
  background-color: $room-card-color;
  height: 120px;
  width: 98%;

  box-shadow: 5px 10px $box-shadow-color;
}

label {
  color: $primary-text-color;
}



.body__guest__user__booking, .body__manager__user__booking {
  position: relative;
}

.delete {
  background-image: url("https://i.imgur.com/VkyustM.png");
  @include position-buttons;
}

.book-room {
  background-image: url("https://i.imgur.com/UNQ7KOg.png");
  @include position-buttons;
}

.book-room:hover {
  background-image: url('https://i.imgur.com/jua0har.png');
}

.delete:hover {
  background-image: url('https://i.imgur.com/vDnQW0k.png');
}

.delete:active, .book-room:active {
  transform: translateY(2px)
}

//filter buttons
.filter-buttons {
  @include position-images;
  color: #96281B;
  font-size: 40px;
  font-weight: bolder;
  text-shadow: 1px 1px #FFFAFA;
  border-radius: 5px;
  padding: 100px;
  margin: 0 0 20px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#suite {
  background-image: url("../../assets/suite.jpg");
}

#sing-room {
  background-image: url("../../assets/single-room.jpg");
}

#res-suite {
  background-image: url("../../assets/res-suite.jpg");
}

#jun-suite {
  background-image: url("../../assets/junior-suite.jpg");
}

#filter-section {
  background-color: transparent;
}

main {
  width: 100%;
}
.wrapper {
  display: flex;
  width: 100%;
}

#bookings-view {
  width: 100%;
  margin: 0 2.5%;
}

//animations
.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}


//media queries
@media (max-width: 950px) {
  .body__manager__user__view {
    @include column-flex;
    align-items: center;
    margin-left: 5%;
    width: 100%;
  }
  // .body__manager__user__wrapper {
  //   margin-right: 55px;
  // }
  .wrapper {
    @include column-flex;
  }
  .body__guest__user__booking {
    margin-bottom: 10px;
  }

  .body__manager__user__section, .body__manager__user__wrapper {
    display: block;
    margin-left: 0;
    margin-right: auto;
    width: 85%;
  }
}